:root, [data-krds-mode="light"] {
  --krds-color-surface-gray-subtler: var(--krds-light-color-surface-gray-subtler);
  --krds-color-surface-gray-subtle: var(--krds-light-color-surface-gray-subtle);
  --krds-color-surface-disabled: var(--krds-light-color-surface-disabled);
  --krds-color-surface-primary-subtler: var(--krds-light-color-surface-primary-subtler);
  --krds-color-surface-secondary-subtler: var(--krds-light-color-surface-secondary-subtler);
  --krds-color-surface-danger-subtler: var(--krds-light-color-surface-danger-subtler);
  --krds-color-surface-warning-subtler: var(--krds-light-color-surface-warning-subtler);
  --krds-color-surface-success-subtler: var(--krds-light-color-surface-success-subtler);
  --krds-color-surface-information-subtler: var(--krds-light-color-surface-information-subtler);
  --krds-color-surface-point-subtler: var(--krds-light-color-surface-point-subtler);
  --krds-color-surface-white: var(--krds-light-color-surface-white);
  --krds-color-surface-inverse: var(--krds-light-color-surface-inverse);
  --krds-color-surface-white-static: var(--krds-light-color-surface-white-static);
  --krds-color-surface-inverse-static: var(--krds-light-color-surface-inverse-static);
  --krds-color-surface-white-subtle: var(--krds-light-color-surface-white-subtle);
  --krds-color-surface-white-subtler: var(--krds-light-color-surface-white-subtler);
  --krds-color-border-gray-light: var(--krds-light-color-border-gray-light);
  --krds-color-border-gray: var(--krds-light-color-border-gray);
  --krds-color-border-secondary-light: var(--krds-light-color-border-secondary-light);
  --krds-color-border-danger-light: var(--krds-light-color-border-danger-light);
  --krds-color-border-danger: var(--krds-light-color-border-danger);
  --krds-color-border-warning-light: var(--krds-light-color-border-warning-light);
  --krds-color-border-warning: var(--krds-light-color-border-warning);
  --krds-color-border-success-light: var(--krds-light-color-border-success-light);
  --krds-color-border-success: var(--krds-light-color-border-success);
  --krds-color-border-information-light: var(--krds-light-color-border-information-light);
  --krds-color-border-information: var(--krds-light-color-border-information);
  --krds-color-border-gray-dark: var(--krds-light-color-border-gray-dark);
  --krds-color-border-primary: var(--krds-light-color-border-primary);
  --krds-color-border-disabled: var(--krds-light-color-border-disabled);
  --krds-color-border-gray-darker: var(--krds-light-color-border-gray-darker);
  --krds-color-border-secondary: var(--krds-light-color-border-secondary);
  --krds-color-border-inverse: var(--krds-light-color-border-inverse);
  --krds-color-border-transparency: var(--krds-light-color-border-transparency);
  --krds-color-border-primary-light: var(--krds-light-color-border-primary-light);
  --krds-color-border-point: var(--krds-light-color-border-point);
  --krds-color-border-point-light: var(--krds-light-color-border-point-light);
  --krds-color-divider-gray-light: var(--krds-light-color-divider-gray-light);
  --krds-color-divider-gray: var(--krds-light-color-divider-gray);
  --krds-color-divider-gray-dark: var(--krds-light-color-divider-gray-dark);
  --krds-color-divider-primary: var(--krds-light-color-divider-primary);
  --krds-color-divider-secondary-light: var(--krds-light-color-divider-secondary-light);
  --krds-color-divider-secondary: var(--krds-light-color-divider-secondary);
  --krds-color-divider-error: var(--krds-light-color-divider-error);
  --krds-color-divider-primary-light: var(--krds-light-color-divider-primary-light);
  --krds-color-divider-inverse: var(--krds-light-color-divider-inverse);
  --krds-color-divider-gray-darker: var(--krds-light-color-divider-gray-darker);
  --krds-color-divider-point: var(--krds-light-color-divider-point);
  --krds-color-text-bolder: var(--krds-light-color-text-bolder);
  --krds-color-text-subtle: var(--krds-light-color-text-subtle);
  --krds-color-text-disabled: var(--krds-light-color-text-disabled);
  --krds-color-text-disabled-on: var(--krds-light-color-text-disabled-on);
  --krds-color-text-primary: var(--krds-light-color-text-primary);
  --krds-color-text-secondary: var(--krds-light-color-text-secondary);
  --krds-color-text-danger: var(--krds-light-color-text-danger);
  --krds-color-text-warning: var(--krds-light-color-text-warning);
  --krds-color-text-success: var(--krds-light-color-text-success);
  --krds-color-text-information: var(--krds-light-color-text-information);
  --krds-color-text-basic: var(--krds-light-color-text-basic);
  --krds-color-text-point: var(--krds-light-color-text-point);
  --krds-color-text-bolder-inverse: var(--krds-light-color-text-bolder-inverse);
  --krds-color-text-basic-inverse: var(--krds-light-color-text-basic-inverse);
  --krds-color-text-subtle-inverse: var(--krds-light-color-text-subtle-inverse);
  --krds-color-text-inverse-static: var(--krds-light-color-text-inverse-static);
  --krds-color-text-static: var(--krds-light-color-text-static);
  --krds-color-icon-gray: var(--krds-light-color-icon-gray);
  --krds-color-icon-gray-fill: var(--krds-light-color-icon-gray-fill);
  --krds-color-icon-inverse: var(--krds-light-color-icon-inverse);
  --krds-color-icon-primary: var(--krds-light-color-icon-primary);
  --krds-color-icon-secondary: var(--krds-light-color-icon-secondary);
  --krds-color-icon-point: var(--krds-light-color-icon-point);
  --krds-color-icon-danger: var(--krds-light-color-icon-danger);
  --krds-color-icon-warning: var(--krds-light-color-icon-warning);
  --krds-color-icon-success: var(--krds-light-color-icon-success);
  --krds-color-icon-information: var(--krds-light-color-icon-information);
  --krds-color-icon-gray-light: var(--krds-light-color-icon-gray-light);
  --krds-color-icon-disabled: var(--krds-light-color-icon-disabled);
  --krds-color-icon-disabled-on: var(--krds-light-color-icon-disabled-on);
  --krds-color-icon-inverse-static: var(--krds-light-color-icon-inverse-static);
  --krds-color-icon-primary-static: var(--krds-light-color-icon-primary-static);
  --krds-color-icon-secondary-static: var(--krds-light-color-icon-secondary-static);
  --krds-color-icon-point-static: var(--krds-light-color-icon-point-static);
  --krds-color-icon-danger-static: var(--krds-light-color-icon-danger-static);
  --krds-color-icon-warning-static: var(--krds-light-color-icon-warning-static);
  --krds-color-icon-success-static: var(--krds-light-color-icon-success-static);
  --krds-color-icon-information-static: var(--krds-light-color-icon-information-static);
  --krds-color-icon-gray-static: var(--krds-light-color-icon-gray-static);
  --krds-color-link-default: var(--krds-light-color-link-default);
  --krds-color-link-hover: var(--krds-light-color-link-hover);
  --krds-color-link-pressed: var(--krds-light-color-link-pressed);
  --krds-color-link-visited: var(--krds-light-color-link-visited);
  --krds-color-button-primary-fill: var(--krds-light-color-button-primary-fill);
  --krds-color-button-primary-fill-hover: var(--krds-light-color-button-primary-fill-hover);
  --krds-color-button-primary-fill-pressed: var(--krds-light-color-button-primary-fill-pressed);
  --krds-color-button-secondary-fill: var(--krds-light-color-button-secondary-fill);
  --krds-color-button-secondary-fill-hover: var(--krds-light-color-button-secondary-fill-hover);
  --krds-color-button-secondary-fill-pressed: var(--krds-light-color-button-secondary-fill-pressed);
  --krds-color-button-secondary-border: var(--krds-light-color-button-secondary-border);
  --krds-color-button-tertiary-fill: var(--krds-light-color-button-tertiary-fill);
  --krds-color-button-tertiary-fill-hover: var(--krds-light-color-button-tertiary-fill-hover);
  --krds-color-button-tertiary-fill-pressed: var(--krds-light-color-button-tertiary-fill-pressed);
  --krds-color-button-tertiary-border: var(--krds-light-color-button-tertiary-border);
  --krds-color-button-disabled-fill: var(--krds-light-color-button-disabled-fill);
  --krds-color-button-text-fill-hover: var(--krds-light-color-button-text-fill-hover);
  --krds-color-button-text-fill-pressed: var(--krds-light-color-button-text-fill-pressed);
  --krds-color-button-text-fill: var(--krds-light-color-button-text-fill);
  --krds-color-button-text-border: var(--krds-light-color-button-text-border);
  --krds-color-button-disabled-border: var(--krds-light-color-button-disabled-border);
  --krds-color-background-white: var(--krds-light-color-background-white);
  --krds-color-background-inverse: var(--krds-light-color-background-inverse);
  --krds-color-background-gray-subtler: var(--krds-light-color-background-gray-subtler);
  --krds-color-background-gray-subtle: var(--krds-light-color-background-gray-subtle);
  --krds-color-background-dim: var(--krds-light-color-background-dim);
  --krds-color-element-disabled-light: var(--krds-light-color-element-disabled-light);
  --krds-color-element-disabled-dark: var(--krds-light-color-element-disabled-dark);
  --krds-color-element-gray-lighter: var(--krds-light-color-element-gray-lighter);
  --krds-color-element-gray-light: var(--krds-light-color-element-gray-light);
  --krds-color-element-gray: var(--krds-light-color-element-gray);
  --krds-color-element-primary-lighter: var(--krds-light-color-element-primary-lighter);
  --krds-color-element-primary-light: var(--krds-light-color-element-primary-light);
  --krds-color-element-primary: var(--krds-light-color-element-primary);
  --krds-color-element-secondary-lighter: var(--krds-light-color-element-secondary-lighter);
  --krds-color-element-secondary-light: var(--krds-light-color-element-secondary-light);
  --krds-color-element-secondary: var(--krds-light-color-element-secondary);
  --krds-color-element-point-lighter: var(--krds-light-color-element-point-lighter);
  --krds-color-element-point-light: var(--krds-light-color-element-point-light);
  --krds-color-element-point: var(--krds-light-color-element-point);
  --krds-color-element-danger-lighter: var(--krds-light-color-element-danger-lighter);
  --krds-color-element-danger: var(--krds-light-color-element-danger);
  --krds-color-element-warning-lighter: var(--krds-light-color-element-warning-lighter);
  --krds-color-element-warning: var(--krds-light-color-element-warning);
  --krds-color-element-success-lighter: var(--krds-light-color-element-success-lighter);
  --krds-color-element-success: var(--krds-light-color-element-success);
  --krds-color-element-information-lighter: var(--krds-light-color-element-information-lighter);
  --krds-color-element-information: var(--krds-light-color-element-information);
  --krds-color-element-inverse: var(--krds-light-color-element-inverse);
  --krds-color-element-gray-dark: var(--krds-light-color-element-gray-dark);
  --krds-color-element-inverse-static: var(--krds-light-color-element-inverse-static);
  --krds-color-action-white: var(--krds-light-color-action-white);
  --krds-color-action-primary: var(--krds-light-color-action-primary);
  --krds-color-action-primary-hover: var(--krds-light-color-action-primary-hover);
  --krds-color-action-primary-pressed: var(--krds-light-color-action-primary-pressed);
  --krds-color-action-secondary: var(--krds-light-color-action-secondary);
  --krds-color-action-secondary-hover: var(--krds-light-color-action-secondary-hover);
  --krds-color-action-secondary-pressed: var(--krds-light-color-action-secondary-pressed);
  --krds-color-action-secondary-selected: var(--krds-light-color-action-secondary-selected);
  --krds-color-action-secondary-on: var(--krds-light-color-action-secondary-on);
  --krds-color-action-secondary-on-hover: var(--krds-light-color-action-secondary-on-hover);
  --krds-color-action-secondary-on-pressed: var(--krds-light-color-action-secondary-on-pressed);
  --krds-color-action-secondary-on-selected: var(--krds-light-color-action-secondary-on-selected);
  --krds-color-action-secondary-active: var(--krds-light-color-action-secondary-active);
  --krds-color-action-primary-active: var(--krds-light-color-action-primary-active);
  --krds-color-action-disabled: var(--krds-light-color-action-disabled);
  --krds-color-action-primary-selected: var(--krds-light-color-action-primary-selected);
  --krds-color-input-border: var(--krds-light-color-input-border);
  --krds-color-input-border-disabled: var(--krds-light-color-input-border-disabled);
  --krds-color-input-border-active: var(--krds-light-color-input-border-active);
  --krds-color-input-border-error: var(--krds-light-color-input-border-error);
  --krds-color-input-surface: var(--krds-light-color-input-surface);
  --krds-color-input-surface-disabled: var(--krds-light-color-input-surface-disabled);
  --krds-color-graphic-blue-subtler: var(--krds-light-color-graphic-blue-subtler);
  --krds-color-graphic-blue-subtle: var(--krds-light-color-graphic-blue-subtle);
  --krds-color-graphic-blue: var(--krds-light-color-graphic-blue);
  --krds-color-graphic-blue-dark: var(--krds-light-color-graphic-blue-dark);
  --krds-color-graphic-blue-darker: var(--krds-light-color-graphic-blue-darker);
  --krds-color-graphic-red-subtler: var(--krds-light-color-graphic-red-subtler);
  --krds-color-graphic-red-subtle: var(--krds-light-color-graphic-red-subtle);
  --krds-color-graphic-red: var(--krds-light-color-graphic-red);
  --krds-color-graphic-red-dark: var(--krds-light-color-graphic-red-dark);
  --krds-color-graphic-red-darker: var(--krds-light-color-graphic-red-darker);
  --krds-color-graphic-brand: var(--krds-light-color-graphic-brand);
  --krds-color-alpha-base100: var(--krds-light-color-alpha-base100);
  --krds-color-alpha-base50: var(--krds-light-color-alpha-base50);
  --krds-color-alpha-base25: var(--krds-light-color-alpha-base25);
  --krds-color-alpha-base0: var(--krds-light-color-alpha-base0);
  --krds-color-alpha-inverse100: var(--krds-light-color-alpha-inverse100);
  --krds-color-alpha-inverse50: var(--krds-light-color-alpha-inverse50);
  --krds-color-alpha-inverse25: var(--krds-light-color-alpha-inverse25);
  --krds-color-alpha-inverse0: var(--krds-light-color-alpha-inverse0);
  --krds-color-alpha-base75: var(--krds-light-color-alpha-base75);
  --krds-color-alpha-inverse75: var(--krds-light-color-alpha-inverse75);
  --krds-color-alpha-inverse10: var(--krds-light-color-alpha-inverse10);
  --krds-color-alpha-base10: var(--krds-light-color-alpha-base10);
  --krds-color-alpha-shadow1: var(--krds-light-color-alpha-shadow1);
  --krds-color-alpha-shadow2: var(--krds-light-color-alpha-shadow2);
  --krds-color-alpha-shadow3: var(--krds-light-color-alpha-shadow3);
  --krds-border-width-variable-regular: var(--krds-light-border-width-variable-regular);
  --krds-border-width-variable-medium: var(--krds-light-border-width-variable-medium);
  --krds-border-width-static-regular: var(--krds-light-border-width-static-regular);
  --krds-border-width-static-medium: var(--krds-light-border-width-static-medium);
}

[data-krds-mode="dark"], [data-krds-mode="high-contrast"] {
  --krds-color-surface-gray-subtler: var(--krds-high-contrast-color-surface-gray-subtler);
  --krds-color-surface-gray-subtle: var(--krds-high-contrast-color-surface-gray-subtle);
  --krds-color-surface-disabled: var(--krds-high-contrast-color-surface-disabled);
  --krds-color-surface-primary-subtler: var(--krds-high-contrast-color-surface-primary-subtler);
  --krds-color-surface-secondary-subtler: var(--krds-high-contrast-color-surface-secondary-subtler);
  --krds-color-surface-danger-subtler: var(--krds-high-contrast-color-surface-danger-subtler);
  --krds-color-surface-warning-subtler: var(--krds-high-contrast-color-surface-warning-subtler);
  --krds-color-surface-success-subtler: var(--krds-high-contrast-color-surface-success-subtler);
  --krds-color-surface-information-subtler: var(--krds-high-contrast-color-surface-information-subtler);
  --krds-color-surface-point-subtler: var(--krds-high-contrast-color-surface-point-subtler);
  --krds-color-surface-white: var(--krds-high-contrast-color-surface-white);
  --krds-color-surface-inverse: var(--krds-high-contrast-color-surface-inverse);
  --krds-color-surface-white-static: var(--krds-high-contrast-color-surface-white-static);
  --krds-color-surface-inverse-static: var(--krds-high-contrast-color-surface-inverse-static);
  --krds-color-surface-white-subtle: var(--krds-high-contrast-color-surface-white-subtle);
  --krds-color-surface-white-subtler: var(--krds-high-contrast-color-surface-white-subtler);
  --krds-color-border-gray-light: var(--krds-high-contrast-color-border-gray-light);
  --krds-color-border-gray: var(--krds-high-contrast-color-border-gray);
  --krds-color-border-secondary-light: var(--krds-high-contrast-color-border-secondary-light);
  --krds-color-border-danger-light: var(--krds-high-contrast-color-border-danger-light);
  --krds-color-border-danger: var(--krds-high-contrast-color-border-danger);
  --krds-color-border-warning-light: var(--krds-high-contrast-color-border-warning-light);
  --krds-color-border-warning: var(--krds-high-contrast-color-border-warning);
  --krds-color-border-success-light: var(--krds-high-contrast-color-border-success-light);
  --krds-color-border-success: var(--krds-high-contrast-color-border-success);
  --krds-color-border-information-light: var(--krds-high-contrast-color-border-information-light);
  --krds-color-border-information: var(--krds-high-contrast-color-border-information);
  --krds-color-border-gray-dark: var(--krds-high-contrast-color-border-gray-dark);
  --krds-color-border-primary: var(--krds-high-contrast-color-border-primary);
  --krds-color-border-disabled: var(--krds-high-contrast-color-border-disabled);
  --krds-color-border-gray-darker: var(--krds-high-contrast-color-border-gray-darker);
  --krds-color-border-secondary: var(--krds-high-contrast-color-border-secondary);
  --krds-color-border-inverse: var(--krds-high-contrast-color-border-inverse);
  --krds-color-border-transparency: var(--krds-high-contrast-color-border-transparency);
  --krds-color-border-primary-light: var(--krds-high-contrast-color-border-primary-light);
  --krds-color-border-point: var(--krds-high-contrast-color-border-point);
  --krds-color-border-point-light: var(--krds-high-contrast-color-border-point-light);
  --krds-color-divider-gray-light: var(--krds-high-contrast-color-divider-gray-light);
  --krds-color-divider-gray: var(--krds-high-contrast-color-divider-gray);
  --krds-color-divider-gray-dark: var(--krds-high-contrast-color-divider-gray-dark);
  --krds-color-divider-primary: var(--krds-high-contrast-color-divider-primary);
  --krds-color-divider-secondary-light: var(--krds-high-contrast-color-divider-secondary-light);
  --krds-color-divider-secondary: var(--krds-high-contrast-color-divider-secondary);
  --krds-color-divider-error: var(--krds-high-contrast-color-divider-error);
  --krds-color-divider-primary-light: var(--krds-high-contrast-color-divider-primary-light);
  --krds-color-divider-inverse: var(--krds-high-contrast-color-divider-inverse);
  --krds-color-divider-gray-darker: var(--krds-high-contrast-color-divider-gray-darker);
  --krds-color-divider-point: var(--krds-high-contrast-color-divider-point);
  --krds-color-text-bolder: var(--krds-high-contrast-color-text-bolder);
  --krds-color-text-subtle: var(--krds-high-contrast-color-text-subtle);
  --krds-color-text-disabled: var(--krds-high-contrast-color-text-disabled);
  --krds-color-text-disabled-on: var(--krds-high-contrast-color-text-disabled-on);
  --krds-color-text-primary: var(--krds-high-contrast-color-text-primary);
  --krds-color-text-secondary: var(--krds-high-contrast-color-text-secondary);
  --krds-color-text-danger: var(--krds-high-contrast-color-text-danger);
  --krds-color-text-warning: var(--krds-high-contrast-color-text-warning);
  --krds-color-text-success: var(--krds-high-contrast-color-text-success);
  --krds-color-text-information: var(--krds-high-contrast-color-text-information);
  --krds-color-text-basic: var(--krds-high-contrast-color-text-basic);
  --krds-color-text-point: var(--krds-high-contrast-color-text-point);
  --krds-color-text-bolder-inverse: var(--krds-high-contrast-color-text-bolder-inverse);
  --krds-color-text-basic-inverse: var(--krds-high-contrast-color-text-basic-inverse);
  --krds-color-text-subtle-inverse: var(--krds-high-contrast-color-text-subtle-inverse);
  --krds-color-text-inverse-static: var(--krds-high-contrast-color-text-inverse-static);
  --krds-color-text-static: var(--krds-high-contrast-color-text-static);
  --krds-color-icon-gray: var(--krds-high-contrast-color-icon-gray);
  --krds-color-icon-gray-fill: var(--krds-high-contrast-color-icon-gray-fill);
  --krds-color-icon-inverse: var(--krds-high-contrast-color-icon-inverse);
  --krds-color-icon-primary: var(--krds-high-contrast-color-icon-primary);
  --krds-color-icon-secondary: var(--krds-high-contrast-color-icon-secondary);
  --krds-color-icon-point: var(--krds-high-contrast-color-icon-point);
  --krds-color-icon-danger: var(--krds-high-contrast-color-icon-danger);
  --krds-color-icon-warning: var(--krds-high-contrast-color-icon-warning);
  --krds-color-icon-success: var(--krds-high-contrast-color-icon-success);
  --krds-color-icon-information: var(--krds-high-contrast-color-icon-information);
  --krds-color-icon-gray-light: var(--krds-high-contrast-color-icon-gray-light);
  --krds-color-icon-disabled: var(--krds-high-contrast-color-icon-disabled);
  --krds-color-icon-disabled-on: var(--krds-high-contrast-color-icon-disabled-on);
  --krds-color-icon-inverse-static: var(--krds-high-contrast-color-icon-inverse-static);
  --krds-color-icon-primary-static: var(--krds-high-contrast-color-icon-primary-static);
  --krds-color-icon-secondary-static: var(--krds-high-contrast-color-icon-secondary-static);
  --krds-color-icon-point-static: var(--krds-high-contrast-color-icon-point-static);
  --krds-color-icon-danger-static: var(--krds-high-contrast-color-icon-danger-static);
  --krds-color-icon-warning-static: var(--krds-high-contrast-color-icon-warning-static);
  --krds-color-icon-success-static: var(--krds-high-contrast-color-icon-success-static);
  --krds-color-icon-information-static: var(--krds-high-contrast-color-icon-information-static);
  --krds-color-icon-gray-static: var(--krds-high-contrast-color-icon-gray-static);
  --krds-color-link-default: var(--krds-high-contrast-color-link-default);
  --krds-color-link-hover: var(--krds-high-contrast-color-link-hover);
  --krds-color-link-pressed: var(--krds-high-contrast-color-link-pressed);
  --krds-color-link-visited: var(--krds-high-contrast-color-link-visited);
  --krds-color-button-primary-fill: var(--krds-high-contrast-color-button-primary-fill);
  --krds-color-button-primary-fill-hover: var(--krds-high-contrast-color-button-primary-fill-hover);
  --krds-color-button-primary-fill-pressed: var(--krds-high-contrast-color-button-primary-fill-pressed);
  --krds-color-button-secondary-fill: var(--krds-high-contrast-color-button-secondary-fill);
  --krds-color-button-secondary-fill-hover: var(--krds-high-contrast-color-button-secondary-fill-hover);
  --krds-color-button-secondary-fill-pressed: var(--krds-high-contrast-color-button-secondary-fill-pressed);
  --krds-color-button-secondary-border: var(--krds-high-contrast-color-button-secondary-border);
  --krds-color-button-tertiary-fill: var(--krds-high-contrast-color-button-tertiary-fill);
  --krds-color-button-tertiary-fill-hover: var(--krds-high-contrast-color-button-tertiary-fill-hover);
  --krds-color-button-tertiary-fill-pressed: var(--krds-high-contrast-color-button-tertiary-fill-pressed);
  --krds-color-button-tertiary-border: var(--krds-high-contrast-color-button-tertiary-border);
  --krds-color-button-disabled-fill: var(--krds-high-contrast-color-button-disabled-fill);
  --krds-color-button-text-fill-hover: var(--krds-high-contrast-color-button-text-fill-hover);
  --krds-color-button-text-fill-pressed: var(--krds-high-contrast-color-button-text-fill-pressed);
  --krds-color-button-text-fill: var(--krds-high-contrast-color-button-text-fill);
  --krds-color-button-text-border: var(--krds-high-contrast-color-button-text-border);
  --krds-color-button-disabled-border: var(--krds-high-contrast-color-button-disabled-border);
  --krds-color-background-white: var(--krds-high-contrast-color-background-white);
  --krds-color-background-inverse: var(--krds-high-contrast-color-background-inverse);
  --krds-color-background-gray-subtler: var(--krds-high-contrast-color-background-gray-subtler);
  --krds-color-background-gray-subtle: var(--krds-high-contrast-color-background-gray-subtle);
  --krds-color-background-dim: var(--krds-high-contrast-color-background-dim);
  --krds-color-element-disabled-light: var(--krds-high-contrast-color-element-disabled-light);
  --krds-color-element-disabled-dark: var(--krds-high-contrast-color-element-disabled-dark);
  --krds-color-element-gray-lighter: var(--krds-high-contrast-color-element-gray-lighter);
  --krds-color-element-gray-light: var(--krds-high-contrast-color-element-gray-light);
  --krds-color-element-gray: var(--krds-high-contrast-color-element-gray);
  --krds-color-element-primary-lighter: var(--krds-high-contrast-color-element-primary-lighter);
  --krds-color-element-primary-light: var(--krds-high-contrast-color-element-primary-light);
  --krds-color-element-primary: var(--krds-high-contrast-color-element-primary);
  --krds-color-element-secondary-lighter: var(--krds-high-contrast-color-element-secondary-lighter);
  --krds-color-element-secondary-light: var(--krds-high-contrast-color-element-secondary-light);
  --krds-color-element-secondary: var(--krds-high-contrast-color-element-secondary);
  --krds-color-element-point-lighter: var(--krds-high-contrast-color-element-point-lighter);
  --krds-color-element-point-light: var(--krds-high-contrast-color-element-point-light);
  --krds-color-element-point: var(--krds-high-contrast-color-element-point);
  --krds-color-element-danger-lighter: var(--krds-high-contrast-color-element-danger-lighter);
  --krds-color-element-danger: var(--krds-high-contrast-color-element-danger);
  --krds-color-element-warning-lighter: var(--krds-high-contrast-color-element-warning-lighter);
  --krds-color-element-warning: var(--krds-high-contrast-color-element-warning);
  --krds-color-element-success-lighter: var(--krds-high-contrast-color-element-success-lighter);
  --krds-color-element-success: var(--krds-high-contrast-color-element-success);
  --krds-color-element-information-lighter: var(--krds-high-contrast-color-element-information-lighter);
  --krds-color-element-information: var(--krds-high-contrast-color-element-information);
  --krds-color-element-inverse: var(--krds-high-contrast-color-element-inverse);
  --krds-color-element-gray-dark: var(--krds-high-contrast-color-element-gray-dark);
  --krds-color-element-inverse-static: var(--krds-high-contrast-color-element-inverse-static);
  --krds-color-action-white: var(--krds-high-contrast-color-action-white);
  --krds-color-action-primary: var(--krds-high-contrast-color-action-primary);
  --krds-color-action-primary-hover: var(--krds-high-contrast-color-action-primary-hover);
  --krds-color-action-primary-pressed: var(--krds-high-contrast-color-action-primary-pressed);
  --krds-color-action-secondary: var(--krds-high-contrast-color-action-secondary);
  --krds-color-action-secondary-hover: var(--krds-high-contrast-color-action-secondary-hover);
  --krds-color-action-secondary-pressed: var(--krds-high-contrast-color-action-secondary-pressed);
  --krds-color-action-secondary-selected: var(--krds-high-contrast-color-action-secondary-selected);
  --krds-color-action-secondary-on: var(--krds-high-contrast-color-action-secondary-on);
  --krds-color-action-secondary-on-hover: var(--krds-high-contrast-color-action-secondary-on-hover);
  --krds-color-action-secondary-on-pressed: var(--krds-high-contrast-color-action-secondary-on-pressed);
  --krds-color-action-secondary-on-selected: var(--krds-high-contrast-color-action-secondary-on-selected);
  --krds-color-action-secondary-active: var(--krds-high-contrast-color-action-secondary-active);
  --krds-color-action-primary-active: var(--krds-high-contrast-color-action-primary-active);
  --krds-color-action-disabled: var(--krds-high-contrast-color-action-disabled);
  --krds-color-action-primary-selected: var(--krds-high-contrast-color-action-primary-selected);
  --krds-color-input-border: var(--krds-high-contrast-color-input-border);
  --krds-color-input-border-disabled: var(--krds-high-contrast-color-input-border-disabled);
  --krds-color-input-border-active: var(--krds-high-contrast-color-input-border-active);
  --krds-color-input-border-error: var(--krds-high-contrast-color-input-border-error);
  --krds-color-input-surface: var(--krds-high-contrast-color-input-surface);
  --krds-color-input-surface-disabled: var(--krds-high-contrast-color-input-surface-disabled);
  --krds-color-graphic-blue-subtler: var(--krds-high-contrast-color-graphic-blue-subtler);
  --krds-color-graphic-blue-subtle: var(--krds-high-contrast-color-graphic-blue-subtle);
  --krds-color-graphic-blue: var(--krds-high-contrast-color-graphic-blue);
  --krds-color-graphic-blue-dark: var(--krds-high-contrast-color-graphic-blue-dark);
  --krds-color-graphic-blue-darker: var(--krds-high-contrast-color-graphic-blue-darker);
  --krds-color-graphic-red-subtler: var(--krds-high-contrast-color-graphic-red-subtler);
  --krds-color-graphic-red-subtle: var(--krds-high-contrast-color-graphic-red-subtle);
  --krds-color-graphic-red: var(--krds-high-contrast-color-graphic-red);
  --krds-color-graphic-red-dark: var(--krds-high-contrast-color-graphic-red-dark);
  --krds-color-graphic-red-darker: var(--krds-high-contrast-color-graphic-red-darker);
  --krds-color-graphic-brand: var(--krds-high-contrast-color-graphic-brand);
  --krds-color-alpha-base100: var(--krds-high-contrast-color-alpha-base100);
  --krds-color-alpha-base50: var(--krds-high-contrast-color-alpha-base50);
  --krds-color-alpha-base25: var(--krds-high-contrast-color-alpha-base25);
  --krds-color-alpha-base0: var(--krds-high-contrast-color-alpha-base0);
  --krds-color-alpha-inverse100: var(--krds-high-contrast-color-alpha-inverse100);
  --krds-color-alpha-inverse50: var(--krds-high-contrast-color-alpha-inverse50);
  --krds-color-alpha-inverse25: var(--krds-high-contrast-color-alpha-inverse25);
  --krds-color-alpha-inverse0: var(--krds-high-contrast-color-alpha-inverse0);
  --krds-color-alpha-base75: var(--krds-high-contrast-color-alpha-base75);
  --krds-color-alpha-inverse75: var(--krds-high-contrast-color-alpha-inverse75);
  --krds-color-alpha-inverse10: var(--krds-high-contrast-color-alpha-inverse10);
  --krds-color-alpha-base10: var(--krds-high-contrast-color-alpha-base10);
  --krds-color-alpha-shadow1: var(--krds-high-contrast-color-alpha-shadow1);
  --krds-color-alpha-shadow2: var(--krds-high-contrast-color-alpha-shadow2);
  --krds-color-alpha-shadow3: var(--krds-high-contrast-color-alpha-shadow3);
  --krds-border-width-variable-regular: var(--krds-high-contrast-border-width-variable-regular);
  --krds-border-width-variable-medium: var(--krds-high-contrast-border-width-variable-medium);
  --krds-border-width-static-regular: var(--krds-high-contrast-border-width-static-regular);
  --krds-border-width-static-medium: var(--krds-high-contrast-border-width-static-medium);
}
